.rain {
	background: url("/background.svg");
}

@media (prefers-reduced-motion: no-preference) {
	.rain {
		animation: rain 6s linear infinite;
	}
}

@keyframes rain {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -9999px 9999px;
	}
}
